* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin-left: 5%;
}

.btn-primary {
  padding: 5px;
  border: 2px solid blue;
  border-radius: 5px;
  background: white;
  color: black;
}

.btn-primary:hover {
  background-color: blue;
}

.btn-secondary {
  padding: 5px;
  border: 2px solid blue;
  border-radius: 5px;
  background: blue;
  color: white;
}

.btn-secondary:hover {
  background-color: white;
}

.autoimg {
  width: 100%;
  height: 100%;
}

header .header-top {
  background-color: pink;
  text-align: center;
  height: 40px;
}

header .header-bottom {
  margin-bottom: 5px;
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: start;
          align-items: flex-start;
}

header .header-bottom .hdr-btm-dx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: start;
          align-items: flex-start;
}

header .header-bottom .hdr-btm-dx .nav-menu li {
  display: inline-block;
  padding: 15px;
}

.presentation {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: start;
          align-items: flex-start;
}

.presentation .presentation-sx {
  margin: 10px;
  flex-basis: 50%;
}

.presentation .presentation-sx h2 {
  font-size: 3.5em;
}

.presentation .presentation-sx p {
  display: inline-block;
  padding: 5px;
  font-size: 1.5em;
}

.presentation .presentation-sx .alter-reg {
  padding: 10px;
}

.presentation .presentation-sx .alter-reg a {
  color: #58402C;
}

.presentation .presentation-dx {
  margin: 10px;
  flex-basis: 50%;
}

.presentation .presentation-dx .main-illustration {
  width: 100%;
  height: 100%;
}

.sezione2 {
  background-color: #FFE7D2;
}

footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: start;
          align-items: flex-start;
}

footer .footer-sx {
  width: 30%;
}

footer .footer-dx {
  width: 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: start;
          align-items: flex-start;
}

footer .footer-dx .nav-footer li {
  padding: 5px;
  color: #58402C;
}

footer .footer-dx .nav-footer li a {
  color: #58402C;
}

