footer
{
  
  @include display-flex-around;

    .footer-sx{


    }
    .footer-dx{

      @include display-flex-around;

        .nav-footer{

            li{
              padding: 5px;
              color: $color-txt-footer;


                a{
                  color: $color-txt-footer;
                }
            }
        }

    }
}
@media screen and (min-width: 451px) and (max-width: 768px){

  header .header-bottom .hdr-btm-dx .nav-menu  {
    display: none;
  }

  header .header-bottom .hdr-btm-dx .hamburger-menu {
    display: block;
  }
  .nav-footer{
    width: 50%;
  }

}
@media screen and (max-width: 450px) {
  header .header-bottom .hdr-btm-dx .nav-menu  {
    display: none;
  }

  header .header-bottom .hdr-btm-dx .hamburger-menu {
    display: block;
  }
  .nav-footer{
    width: 100%;
  }

}
