footer
{
  @include display-flex-around;

    .footer-sx{


    }
    .footer-dx{

      @include display-flex-around;

        .nav-footer{

            li{
              padding: 5px;
              color: $color-txt-footer;
              width: calc(100% / 4);

                a{
                  color: $color-txt-footer;
                }
            }
        }

    }
}
@media screen and (max-width: 450px) {
  .nav-footer{

      li{
        padding: 5px;
        color: $color-txt-footer;
        width: 100%;    
      }
  }
}
