header
{
  .header-top
  {
    background-color: pink;
    text-align: $text_hdr_top;
    height: 60px;

  }
  .header-bottom
  {
    margin-bottom: 5px;
    border-bottom: 2px solid black;
    @include display-flex-around;
    .hdr-btm-sx
    {

    }
    .hdr-btm-dx
    {
      .hamburger-menu
      {
        display: none;
      }
      @include display-flex-around;
      .nav-menu
      {

        li
        {
          display: inline-block;
          padding: 15px;
        }
      }

    }

  }

}
