*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin display-flex-around
{ display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
@mixin display-flex-center
{ display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
ul
{
list-style-type: none;
}
a
{
  text-decoration: none;
}
.btn-primary
{
  padding: 5px;
  border: 2px solid blue;
  border-radius: 5px;
  background: $bgcolor-btn;
  color: $color-btn;

    &:hover {
      background-color: blue;
    }

}
