.presentation
{
  @include display-flex-around;
  

  .presentation-sx
  {
    margin: 10px;
    flex-basis: 50%;

      h2{
        font-size: 3.5em;
      }
      p{
        display: inline-block;
        padding: 5px;
        font-size: 1.5em;
      }
      .alter-reg{
        margin-top: 20px;
        padding: 20px;
          a{

            display: inline-block;

            color: #58402C;
          }

      }
  }

  .presentation-dx{
    margin: 10px;
    flex-basis: 50%;
    .main-illustration{
      width: 100%;
      height: 100%;
    }
  }
}
.sezione2
{
  background-color: $bg-color-sec-colorate;
}

.sezione4
{
  background-color: $bg-color-sec-colorate;
  text-align: $align-center;
}
