$text_hdr_top: center;
$bgcolor-btn-primary: white;
$bgcolor-btn-secondary: blue;
$color-btn-primary: black;
$color-btn-secondary: white;
$hover-btn: lightblue;
$bgcolor-main-section:#FFE7D2;
$align-start:flex-start;
$align-end:flex-end;
$align-center:center;
$color-txt-footer:#58402C;

$bg-color-sec-colorate:#FFE7D2;
$mrg-btm-img: 50px;
